# Server pack URL; required on first container start, unnecessary after installation
SERVER_PACK_URL=https://example.file/server.zip

# Must be true to start the server
EULA=true

# Maximum RAM allocated to JVM
JVM_XMX=16G

# Initial RAM allocated on server start
JVM_XMS=8G

# Name of the script used to start the server
START_SCRIPT=start.sh

# Path on host for server
HOST_SERVER_PATH=/opt/mc-server
