SERVER_PACK_URL=https://example.file/server.zip   # Server pack URL; required on first container start, unnecessary after installation
EULA=true                                         # Must be true to start the server
JVM_XMX=16G                                       # Maximum RAM allocated to JVM
JVM_XMS=8G                                        # Initial RAM allocated on server start
START_SCRIPT=start.sh                             # Name of the script used to start the server
HOST_SERVER_PATH=/opt/mc-server                   # Path on host for server
